
@{
    ViewBag.Title = "form2";
}





<body background="~/fotos/im.jpg" style="background-repeat: no-repeat; background-size: cover;">
    <center>

        <form method="post" action="form3" enctype="multipart/form-data">




            <label>Correo <input type="text" class="form-control" placeholder="Ingresar Correo" name="correo1" value="" required="" />  </label><br />

            <button type="submit" class="btn btn-primary" value="Enviar">ENVIAR   </button><br /><br />

        </form>


    </center>
    </body>
