
@{
    ViewBag.Title = "Index";
}

 


 






<center>

    
    <head>
        <style>
            .city {
                background-color: #1f1f1f;
                color: white;
                border: 2xp #000000;
                margin: 20px;
                padding: 20px;
            }
        </style>
    </head>
    

        <div class="city">
            <h2>Mejorando La Ciudad De Santo Domingo   </h2>
            <p>
                El objetivo de este proyecto es abordar los desafíos y problemáticas que enfrenta la ciudad de Santo Domingo y proponer soluciones innovadoras a través del uso de tecnologías. A menudo, los ciudadanos experimentan dificultades en áreas como la seguridad, el transporte público, la calidad del aire, la gestión de residuos y otros aspectos importantes de la vida cotidiana. Por lo tanto, es fundamental identificar estas problemáticas y buscar formas de mejorarlas.

                Para cumplir con este objetivo, hemos creado un formulario en línea que permite a los ciudadanos informar sobre los problemas que enfrentan en sus comunidades y proporcionar información relevante para ayudar a solucionarlos. Por ejemplo, los ciudadanos pueden compartir fotos y videos que ilustren las problemáticas, así como datos y estadísticas que respalden sus reclamos.

                Además, el proyecto también aprovecha las tecnologías para recopilar información en tiempo real sobre la ciudad. Por ejemplo, a través de sensores y dispositivos inteligentes, podemos monitorear la calidad del aire y los niveles de tráfico en la ciudad y usar esa información para tomar decisiones más informadas.

                En última instancia, el objetivo final del proyecto es mejorar la calidad de vida de los ciudadanos de Santo Domingo. Al hacerlo, esperamos inspirar a otros a seguir nuestros pasos y utilizar las tecnologías de manera innovadora para abordar los desafíos que enfrentan sus propias comunidades



            </p>
        </div>



        <style>
            div.gallery {
                margin: 5px;
                border: 1px solid #ccc;
                float: left;
                width: 180px;
            }

                div.gallery:hover {
                    border: 1px solid #777;
                }

                div.gallery img {
                    width: 100%;
                    height: auto;
                }

            div.desc {
                padding: 15px;
                text-align: center;
            }
        </style>
        </head>
        

            <div class="gallery">
                <a target="_blank" href="~/fotos/a1.png">
                    <img src="~/fotos/a1.png" alt="Cinque Terre" width="600" height="400">
                </a>
                <div class="desc">Zona de Vigilancia</div>
            </div>

            <div class="gallery">
                <a target="_blank" href="~/fotos/a2.png">
                    <img src="~/fotos/a2.png" alt="Forest" width="600" height="400">
                </a>
                <div class="desc">Transporte Publico</div>
            </div>

            <div class="gallery">
                <a target="_blank" href="~/fotos/a3.png">
                    <img src="~/fotos/a3.png" alt="Northern Lights" width="600" height="400">
                </a>
                <div class="desc">Gestion de Residuos</div>
            </div>

            <div class="gallery">
                <a target="_blank" href="~/fotos/a4.png">
                    <img src="~/fotos/a4.png" alt="Mountains" width="600" height="400">
                </a>
                <div class="desc">Proyecto de Via Publica</div>
            </div><br />

            <header>
                <style>
                    .button {
                        display: inline-block;
                        padding: 15px 25px;
                        font-size: 24px;
                        cursor: pointer;
                        text-align: center;
                        text-decoration: none;
                        outline: none;
                        color: white;
                        background-color: #0094ff;
                        border: none;
                        border-radius: 15px;
                        box-shadow: 0 9px #999;
                    }

                        .button:hover {
                            background-color: #0094ff
                        }

                        .button:active {
                            background-color: #00000000;
                            box-shadow: 0 5px #666;
                            transform: translateY(4px);
                        }
                </style>

                <div>
                    
                        <a href="form" class="button">Ir Al Formulario   </a>
               
                </div>



              




                </center>
 

            




            
